{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "createElement",
        "pragmaFrag": "Fragment"
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "react",
        "import": "createElement",
        "export": "createElement"
      }
    ]
  ]
}